<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aristidis Zotka - Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <h1>Aristidis Zotka</h1>
        <p>Thessaloniki, Kyprou 1 Kordelio | (+30) 6943690861 | <a href="https://www.linkedin.com/in/aristidis-zotka-12b358250/">LinkedIn</a> | <a href="https://github.com/AristidisZ">GitHub</a></p>
    </header>

    <section class="about">
        <h2>About Me</h2>
        <p>I am a passionate problem solver who loves programming and computer science. Quick to learn and adapt, I enjoy working with others and contributing to team success. With a solid background in computer science, I’m always eager to expand my skills. I recently graduated with a degree in Software Engineering, and I’m excited to tackle new challenges and be part of innovative projects.</p>
        <p>You can find my coding challenges and solutions on <a href="https://www.codewars.com/users/AristidisZ">Codewars here</a>.</p>
    </section>

    <section class="experience">
        <h2>Work Experience</h2>
        <div class="job">
            <h3>IT Center Auth</h3>
            <h4>Aristotle University of Thessaloniki</h4>
            <p>Software Developer (November 2022 - May 2023)</p>
            <ul>
                <li>Code development and maintenance in VueJS, Typescript, SASS, and .NET Core, .NET Framework.</li>
                <li>Development of WEB programming to create APIs instructions for the use of external partners/developers.</li>
                <li>Created a new project in .NET Core to implement code examples for use in the Cert Manager API Reference.</li>
            </ul>
        </div>

        <div class="job">
            <h3>Battlenet</h3>
            <h4>Customer Service, Computer Technician, Hardware Troubleshooting</h4>
        </div>
        <div class="job">
            <h3>Self Project</h3>
            <ul>
                <li><strong>Machine Learning Projects:</strong></li>
                <ul>
                    <li>Diamond Price Prediction (Regression)</li>
                    <li>Breast Cancer Prediction (Classification)</li>
                    <li>Titanic Survival Prediction (Classification)</li>
                </ul>
                <li><strong>Deep Learning Projects:</strong></li>
                <ul>
                    <li>Signature Forgery Recognition</li>
                    <li>Toxic Comment Classification</li>
                    <li>101 Food Classification</li>
                    <li>Facial Expression Classification</li>
                    <li>Comparative Study of Convolutional Neural Networks in Signature Forgery Detection (Thesis)</li>
                    <li>Technologies used: TensorFlow/Keras, NumPy, Matplotlib, Scikit-learn</li>
                </ul>
                <li><strong>Python Projects:</strong></li>
                <ul>
                    <li>Workout Tracking with Google Sheets</li>
                    <li>Habit Tracking Project</li>
                    <li>Musical Time Machine with Spotify</li>
                    <li>Classic Py Games</li>
                    <li>Flask</li>
                    <li>Api endpoints</li>
                </ul>
            </ul>
        </div>
        <div class="job">
            <h3>Pharmaceutical Warehouse (Developer)</h3>
            <p>Developed software for a university project involving roles such as project manager, client, developer, and tester. Technologies used: Python, PyQt5 (GUI), SQLite.</p>
        </div>
    </section>
</body>
</html>
